if SHIELD_MAGIC34_LEFT

config ZMK_KEYBOARD_NAME
	default "Magic34"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_MAGIC34_LEFT || SHIELD_MAGIC34_RIGHT

config ZMK_SPLIT
	default y

endif
